<!--Este es el catálogo desde el lado del administrador -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>NowToday - Catálogo Administrador</title>
</head>

<body>
    <header class="header">

        <div class="logo">
            <a href="inicio-usuario.html">Now<span>Today</span></a>
        </div>

        <nav>
            <input type="checkbox" id="menu-toggle">

            <label for="menu-toggle" class="menu-button">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Catálogo</a></li>
                <li><a href="">Agenda</a></li>
                <li><a href="">Agregar Servicio</a></li>
                <li><a href="">Reservaciones</a></li>
                <li><a href="">Métricas</a></li>
                <li><a href="perfil-admin.html">Perfil</a></li>
            </ul>
        </nav>

    </header>
    <main>
        <h1>Catálogo</h1>
        <a class="btn-principal" href="">Crear Servicio</a>
        <section class="categoria-servicio">
            <!--
                Aquí solo hice una categoría pero supongo que tendríamos que hacer una
                por cada categoría; aquí supongo que también usaríamos una lista de listas
                para obtener la información a cargar.
            -->
            <header class="categoria">
                <h2>Terapia Corporal</h2>
            </header>
            <div class="grid-consulta-servicio">

                <article class="tarjeta-servicio">
                    <div class="card-img">
                        <img src="imagen1.html">
                    </div>
                    <div class="tarjeta-contenido">
                        <h3>Masaje Sueco</h3>
                        <p>$300.00</p>
                        <p>45 min.</p>
                        <a href="">Editar</a>
                    </div>
                </article>

                <article class="tarjeta-servicio">
                    <div class="card-img">
                        <img src="imagen2.html">
                    </div>
                    <div class="tarjeta-contenido">
                        <h3>Geotermal</h3>
                        <p>$500.00</p>
                        <p>45 min.</p>
                        <a href="">Editar</a>
                    </div>
                </article>

                <article class="tarjeta-servicio">
                    <div class="card-img">
                        <img src="imagen1.html">
                    </div>
                    <div class="tarjeta-contenido">
                        <h3>Aroma Terapia</h3>
                        <p>$350.00</p>
                        <p>45 min.</p>
                        <a href="">Editar</a>
                    </div>
                </article>
            </div>
        </section>

        <!--Categoría 2-->
        <section class="categoria-servicio">
            <header class="categoria">
                <h2>Tratamientos faciales</h2>
            </header>
            <div class="grid-consulta-servicio">

                <article class="tarjeta-servicio">
                    <div class="card-img">
                        <img src="imagen1.html">
                    </div>
                    <div class="tarjeta-contenido">
                        <h3>Limpieza profunda</h3>
                        <p>$500.00</p>
                        <p>45 min.</p>
                        <a href="">Editar</a>
                    </div>
                </article>

                <article class="tarjeta-servicio">
                    <div class="card-img">
                        <img src="imagen2.html">
                    </div>
                    <div class="tarjeta-contenido">
                        <h3>Antiedad</h3>
                        <p>$600.00</p>
                        <p>45 min.</p>
                        <a href="">Editar</a>
                    </div>
                </article>

                <article class="tarjeta-servicio">
                    <div class="card-img">
                        <img src="imagen1.html">
                    </div>
                    <div class="tarjeta-contenido">
                        <h3>Masaje facial</h3>
                        <p>$450.00</p>
                        <p>45 min.</p>
                        <a href="">Editar</a>
                    </div>
                </article>
            </div>
        </section>

        <!--Categoría 3-->
        <section class="categoria-servicio">
            <header class="categoria">
                <h2>Hidroterapias</h2>
            </header>
            <div class="grid-consulta-servicio">

                <article class="tarjeta-servicio">
                    <div class="card-img">
                        <img src="imagen1.html">
                    </div>
                    <div class="tarjeta-contenido">
                        <h3>Circuito</h3>
                        <p>$500.00</p>
                        <p>45 min.</p>
                        <a href="">Editar</a>
                    </div>
                </article>

                <article class="tarjeta-servicio">
                    <div class="card-img">
                        <img src="imagen2.html">
                    </div>
                    <div class="tarjeta-contenido">
                        <h3>Baños inmersión</h3>
                        <p>$600.00</p>
                        <p>45 min.</p>
                        <a href="">Editar</a>
                    </div>
                </article>

                <article class="tarjeta-servicio">
                    <div class="card-img">
                        <img src="imagen1.html">
                    </div>
                    <div class="tarjeta-contenido">
                        <h3>Agua termal</h3>
                        <p>$450.00</p>
                        <p>45 min.</p>
                        <a href="">Editar</a>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div class="logo-pie">
            <a href="#">Now<span>Today</span></a>
        </div>

        <div class="redes">
            <h4>Redes Sociales</h4>
            <ul>
                <li><a href="#">Red Social 1</a></li>
                <li><a href="#">Red Social 2</a></li>
                <li><a href="#">Red Social 3</a></li>
                <li><a href="#">Red Social 4</a></li>
            </ul>
        </div>
    </footer>
</body>


</html>