<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Now Today - Mis reservaciones</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="#">Now<span>Today</span></a>
        </div>

        <nav>
            <ul>
                <li><a href="inicio-usuario.html">Inicio</a></li>
                <li><a href="catalogo-usuario.html">Catálogo</a></li>
                <li><a href="reservas-usuario.html">Reservas</a></li>
                <li><a href="agenda-usuario.html">Agenda</a></li>
                <li><a href="perfil.html">Perfil</a></li>
            </ul>
        </nav>
    </header>

    <main class="mis-reservaciones-main">
        <div class="mis-reservaciones-container">
            <h1 class="mis.reservaciones-titulo">Mis reservaciones</h1>
            <hr class="mis-reservaciones-divider">

            <div class="mis-reservaciones-controles">
                <div class="filtros">
                    <div class="control-grupo">
                        <select id="categoria">
                            <option>Fecha</option>
                            <option>Hora</option>
                            <option>Servicio</option>
                            <option>Estado actual</option>
                        </select>
                    </div>
                    <div class="campo">
                        <input
                            type="text"
                            id="filtro"
                            name="filtro"
                            required>
                    </div>
                </div>
        </div>
            <section class="servicios">
                <article class="card-servicio-reserva">
                    <img src="imagen1.png">
                    <h3>Masaje Facial</h3>
                    <h4>Fecha y hora:</h4>
                    <p>30/sep   9:30 a.m.</p>
                    <h4>Costo:</h4>
                    <p>$800.00</p>
                    <h4>Estado:</h4>
                    <p>Pendiente</p>
                    <button class="btn-cancelar">Cancelar</button>
                    <button class="btn-confirmar">Confirmar</button>
                </article>
            </section>
    </main>
</body>
</html>