<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>Now Today - Inicio Administrador</title>
</head>

<body>
  <header class="header">

    <div class="logo">
      <a href="inicio-admin.html">Now<span>Today</span></a>
    </div>

    <nav>
      <input type="checkbox" id="menu-toggle">

      <label for="menu-toggle" class="menu-button">
        <span></span>
        <span></span>
        <span></span>
      </label>

      <ul>
        <li><a href="inicio-usuario.html">Inicio</a></li>
        <li><a href="catalogo-usuario.html">Catálogo</a></li>
        <li><a href="reservaciones-usuario.html">Mis Reservaciones</a></li>
        <li><a href="agenda-usuario.html">Agenda</a></li>
        <li><a href="perfil-usuario.html">Perfil</a></li>
      </ul>
    </nav>

  </header>

  <main>
    <h1>Crear cuenta</h1>
    <hr>

    <section class="auth-card">
      <form class="auth-form" action="#" method="POST">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>

        <div class="form-group">
          <label for="correo">Correo:</label>
          <input type="email" id="correo" name="correo" required>
        </div>

        <div class="form-group">
          <label for="contrasenia">Contraseña:</label>
          <input type="password" id="contrasenia" name="contrasenia" required>
        </div>

        <div class="form-group">
          <label for="confirmar-contrasenia">Confirmar contraseña:</label>
          <input type="password" id="confirmar-contrasenia" name="confirmar-contrasenia" required>
        </div>

        <button type="submit" class="btn-ingresar">Registrarme</button>

        <div class="auth-link">
          <a href="inicio-sesion.html">Ya tengo cuenta / Iniciar sesión</a>
        </div>
      </form>
    </section>
  </main>

  </body>

  <footer>
    <div class="logo-pie">
      <a href="#">Now<span>Today</span></a>
    </div>

    <div class="redes">
      <h4>Redes Sociales</h4>
      <ul>
        <li><a href="#">Red Social 1</a></li>
        <li><a href="#">Red Social 2</a></li>
        <li><a href="#">Red Social 3</a></li>
        <li><a href="#">Red Social 4</a></li>
      </ul>
    </div>
  </footer>
</html>