
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'karla', sans-serif;
}

body {
    background-color: #F0F0F0;
    color: #3D3B30;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}

