@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: #ffffff;
    color: #333333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px;
}

main > h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    color: #222;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFF;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid #CDCDCD;
}

.logo a, .logo-pie a {
    font-size: 22px;
    color: #333;
}

.logo span, .logo-pie span {
    background-color: #e3e835;
    padding: 2px 8px;
    margin-left: 5px;
    font-weight: 600;
}

nav ul {
    display: flex;
    gap: 30px;
    font-size: 14px;
    font-weight: 500;
    align-items: center;

}

nav a {
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

nav a:hover {
    border-bottom: 2px solid #e3e835;
}

.hero {
    position: relative;
    width: 100vw;
    margin-left: calc(-50vw + 50%); /* Hace que el hero ocupe el ancho completo */
    height: 450px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 0;
}

.hero-imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 50%);
    z-index: 2;
}

.hero-content {
    position: relative;
    z-index: 3;
    color: #ffffff;
    padding: 0 10%;
    max-width: 800px;
}

.hero-content h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700;
}

.hero-content p {
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 300;
    opacity: 0.9;
}

.hero-content a {
    display: inline-block;
    background-color: #ffffff;
    color: #333333;
    padding: 10px 25px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #e0e0e0;
}

.entrada-catalogo {
    text-align: center;
    padding: 60px 20px 40px;
}

.entrada-catalogo h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
}

/* Elimina el margen extra del botón cuando vive dentro de entrada-catalogo */
.entrada-catalogo .btn-principal {
    margin-bottom: 0;
}


.btn-principal {
    display: block;
    margin: 0 auto 40px auto;
    background-color: #e3e835;
    color: #333;
    padding: 15px 40px;
    border-radius: 6px;
    width: 100%;
    max-width: 500px;
    font-size: 14px;
    border: 1px solid #d1d62c;
    text-align: center;
    cursor: pointer;
}

hr {
    border: none;
    border-top: 1px solid #eaeaea;
    max-width: 1000px;
    margin: 0 auto;
}

.servicios-populares {
    padding: 60px 0;
    text-align: center;
}

.servicios-populares h2 {
    font-size: 20px;
    margin-bottom: 40px;
    color: #111;
}

.grid-servicio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card-servicio {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:  1px solid #CDCDCD;
}

.card-servicio img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 15px;
}

main > h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    color: #222;
}

.categoria-servicio {
    margin-bottom: 50px;
}

.categoria {
    background-color: #4a463b;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

.categoria h2 {
    font-size: 16px;
    font-weight: 500;
}

.grid-consulta-servicio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.tarjeta-servicio {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:  1px solid #CDCDCD;
}

.card-img img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.tarjeta-contenido h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.tarjeta-contenido p:nth-of-type(1) {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.tarjeta-contenido p:nth-of-type(2) {
    font-size: 12px;
    color: #777;
    margin-bottom: 15px;
}

.tarjeta-contenido a {
    display: inline-block;
    background-color: #26a599;
    color: #ffffff;
    padding: 8px 30px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    transition: background 0.3s;
}

.tarjeta-contenido a:hover {
    background-color: #1e877c;
}


.img-servicio img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    max-height: 400px;
}

.detalles-servicio, .calendario-agendar {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #eaeaea;
}

.detalles-servicio h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

.detalles-servicio h4 {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 20px;
    color: #222;
}

.detalles-servicio small {
    display: block;
    font-size: 12px;
    color: #666;
    margin-top: 4px;
}

.descripcion-servicio {
    padding: 20px 0;
}

.descripcion-servicio h3 {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #333;
}

.descripcion-servicio p {
    font-size: 14px;
    color: #555;
    line-height: 1.8;
}

.descripcion-servicio ul {
    float: left;
    width: 45%;
    list-style-type: disc;
    margin-left: 20px;
    font-size: 14px;
    color: #444;
}

.descripcion-servicio ul li {
    margin-bottom: 10px;
}

.descripcion-servicio img {
    float: right;
    width: 50%;
    border-radius: 12px;
    object-fit: cover;
}

.descripcion-servicio::after {
    content: "";
    display: table;
    clear: both;
}

.calendario-agendar {
    text-align: center;
}

.calendario-agendar input[type="date"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 20px;
    color: #555;
}

.banner {
    background-color: #4a463b;
    color: #ffffff;
    text-align: center;
    padding: 12px;
    margin: 40px auto 20px auto;
    width: 100%;
}

.banner p {
    font-size: 14px;
    font-weight: 500;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-top: 1px solid #f0f0f0;
}

.logo-pie a {
    font-size: 28px;
}

.redes {
    display: flex;
    align-items: center;
    gap: 20px;
}

.redes h4 {
    font-size: 14px;
    font-weight: normal;
    color: #555;
}

.redes ul {
    display: flex;
    gap: 10px;
}

.redes ul li a {
    display: block;
    width: 25px;
    height: 25px;
    color: transparent; 
    overflow: hidden;
    white-space: nowrap;
}

.beneficios {
    border-radius: 12px;
    border: 1px solid rgba(105, 105, 105, 0.50);
    background: var(--Color-4, #F0F0F0);
    width: 541px;
    height: 234px;
    box-sizing: border-box;
}

.redes ul li:nth-child(1) a { background-color: #e3e835; }
.redes ul li:nth-child(2) a { background-color: #4a463b; }
.redes ul li:nth-child(3) a { background-color: #4f7ecf; }
.redes ul li:nth-child(4) a { background-color: #26a599; }


/* --- Menu --- */
#menu-toggle {
    display: none;
}

.menu-button {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    width: 30px;
}

.menu-button span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #333333;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* --- Editar servicio admin --- */
/* --- Sección superior --- */
.editar-servicio-header {
    display: grid;
    grid-template-columns: 420px 1fr;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 50px;
    align-items: start;
}

.editar-img-col img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 4px;
}

.btn-cambiar-img {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333;
}

.editar-info-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.campo-editable-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.campo-editable-header h2 {
    font-size: 26px;
    font-weight: 700;
    color: #111;
}

.campo-editable-desc {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.campo-editable-desc p {
    font-size: 13px;
    color: #444;
    line-height: 1.6;
}

.campo-editable-inline {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}

.campo-editable-inline strong {
    font-weight: 700;
    width: 90px;
    color: #000;
}

.icon-edit {
    width: 16px;
    height: 16px;
    cursor: pointer;
    vertical-align: middle;
    object-fit: contain;
}

/* solo afecta a la imagen principal del servicio */
.editar-img-col > img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 4px;
}

.btn-cambiar-img img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

/* --- Seccion inferior --- */
.editar-horarios-container {
    display: grid;
    grid-template-columns: 1fr 1fr 180px;
    gap: 30px;
    align-items: start;
    margin-bottom: 60px;
    margin-top: 20px;
}

.col-horario h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Calendario */
.calendar-card {
    border: 1px solid #E5E5E5;
    border-radius: 12px;
    padding: 15px;
    background-color: #FFF;
    margin-bottom: 25px;
    max-width: 280px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.calendar-header select {
    padding: 3px 8px;
    border: 1px solid #CCC;
    border-radius: 6px;
    font-size: 12px;
}

.calendar-header button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.calendar-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 12px;
}

.calendar-table th {
    color: #888;
    font-weight: normal;
    padding-bottom: 8px;
}

.calendar-table td {
    padding: 6px 0;
    color: #333;
}

/* Dias seleccionados */
.calendar-table .selected-black {
    background-color: #1A1A1A;
    color: #FFF;
    border-radius: 6px;
}

.calendar-table .selected-red {
    background-color: #C01212;
    color: #FFF;
    border-radius: 6px;
}

/* Inputs de horarios */
.form-horarios {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 280px;
}

.input-pill-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-pill-group label {
    width: 65px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.pill-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.pill-wrapper input {
    width: 100%;
    background-color: #F0F0F0;
    border: none;
    border-radius: 20px;
    padding: 6px 15px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    color: #333;
}

/* Botones de guardar y cancelar */
.col-acciones {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
    align-self: end;
}

.btn-guardar {
    background-color: #638BC8;
    color: #FFF;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.btn-cancelar {
    background-color: #C01212;
    color: #FFF;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

/* Crear servicio*/
.input-crear {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    font-family: inherit;
}

.textarea-crear {
    width: 100%;
    height: 100px;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 13px;
    font-family: inherit;
    resize: vertical;
}

.pill-wrapper input:not([readonly]) {
    background-color: #f0f0f0;
    cursor: text;
}


@media (max-width: 768px) {
    .header {
        padding: 15px 20px;
    }

    .menu-button {
        display: flex;
    }

    nav ul {
        position: absolute;
        top: 69px;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
        border-bottom: 2px solid #e3e835;
        flex-direction: column;
        padding: 20px 0;
        gap: 20px;
        display: none;
        box-shadow: 0 10px 15px rgba(0,0,0,0.1);
        z-index: 100;
        text-align: center;
    }

    #menu-toggle:checked ~ ul {
        display: flex;
    }

    #menu-toggle:checked ~ .menu-button span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }

    #menu-toggle:checked ~ .menu-button span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked ~ .menu-button span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -7px);
    }

    footer {
        flex-direction: column;
        gap: 20px;
        padding: 30px 20px;
        text-align: center;
    }

    .redes {
        flex-direction: column;
        gap: 15px;
    }

    .redes ul {
        justify-content: center;
    }

    main:has(.img-servicio) {
        display: block;
    }
    .descripcion-servicio ul, .descripcion-servicio img {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    main:has(.img-servicio) {
        display: grid;
        grid-template-columns: 1fr 380px;
        gap: 30px;
        grid-template-areas:
            "titulo titulo"
            "imagen detalles"
            "desc calendario"
            "banner banner";
        align-items: start;
    }

    main:has(.img-servicio) > h1 {
        grid-area: titulo;
        text-align: left;
        margin-bottom: 20px;
    }

    .img-servicio { grid-area: imagen; }
    .detalles-servicio { grid-area: detalles; }
    .descripcion-servicio { grid-area: desc; }
    .calendario-agendar { grid-area: calendario; }
    main:has(.img-servicio) > .banner { grid-area: banner; }

    .editar-servicio-header {
        grid-template-columns: 1fr;
    }

    .editar-horarios-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .col-acciones {
        width: 100%;
        max-width: 280px;
        margin-top: 20px;
    }
}